@media (min-width: 300px) and (max-width: 768px) {
  .heading-text {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: var(--tablet-width);
  }
  .heading-text {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: var(--md-computer-width);
  }
  .heading-text {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: var(--lg-computer-width);
  }
  .heading-text {
    font-size: 2.5rem;
  }
}
